<p>CEBICHE<br/>
El cebiche es la unión mágica marcada por la simpleza y la frescura.</p>
<p>CEBICHE CHILANG<br/>
  Pesca del día (150 grs), jitomate, cebolla blanca, chile serrano, cilantro, aguacate, salsa bruja y aceite de oliva con un toque de flor de sal de Cuyutlán...$165 </p>
<p>CEBICHE A LA LEÑA<br/>
  Pesca del día y camarón (150 grs) en salsa de chile rayado, cebolla morada, cilantro y chile cuaresmeño acompañado de esquites asados con un toque de sal ahumada de Alderwood...$175 </p>
<p>CEBICHE TROPICAL<br/>
  Camarón (150 grs) y mango en salsa de piña y chile cuaresmeño, cebolla morada, cilantro, cacahuate y aceite de ajonjolí con un toque de sal de Maldon...$175 </p>
<p>CEBICHE VERDE<br/>
  Pesca del día (150 grs) en salsa de chile jalapeño y cilantro, jícama, pepino y cebolla morada con un toque de sal de mar de Celestún...$165 </p>
<p>CEBICHE PERUANO<br/>
  Pesca del día (150 grs) en leche de tigre clásica, chile habanero, cebolla morada y cilantro acompañado de choclo, cancha y camote con un toque de sal rosada de los Andes peruanos...$165 </p>
<p>CEBICHE A LA MANDARINA<br/>
  Pesca del día y camarón (150 grs) en una reducción de jugo de mandarina y chile de árbol acompañado de cebolla morada, suprema de mandarina, pepino, chile cuaresmeño, cilantro y chile piquín con un toque de sal roja de Alaea...$165 </p>
<p>CEBICHE TATEMADO<br/>
  Pesca del día, camarón y pulpo (150 grs) en salsa de chile chilhuacle tatemado, yuzu, cebolla cambray, aguacate y rábano sandia con un toque de sal negra de Hawái...$175 </p>
<p>CEBICHE MIXTO<br/>
  Pesca del día , camarón y pulpo (150 grs) en salsa de chile manzano, cebolla morada y cilantro acompañado de choclo, cancha y camote con un toque de sal rosa del Himalaya...$165 </p>
<p>CEBICHE DE ATÚN<br/>
  Atún (150 grs) en salsa de tamarindo, chile cuaresmeño, cebolla morada, cilantro, pepino, aguacate y aceite de ajonjolí con un toque de sal azul de Irán...$175 </p>
<p>CEBICHE DE PULPO<br/>
  Pulpo (120 grs) en salsa de aceituna verde, chile cuaresmeño, cebolla morada, perejil, pimiento morrón asado, papa y aceite de oliva extra virgen con un toque de sal gris de Guérande...$165 </p>
<p>DEGUSTACIÓN DE CEBICHES<br/>
  Tropical, Atún, Peruano y Verde <br/>
  Una selección de 4 de nuestros mejores cebiches $245 </p>
<p>RAW BA<br/>
Disponible de Jueves a Domingo </p>
<p>ALMEJA CHOCOLAT<br/>
  (1 pza)...$35 (6 pzs)...$210 (12 pzs)...$420 </p>
<p>OSTIÓN DEL PACIFICO<br/>
  (1 pza)...$30 (6 pzs)...$180 (12 pzs)...$360 </p>
<p>PATA DE MULA SANGRE ROJ<br/>
  (1 pza)...$35 (6 pzs)...$210 (12 pzs)... $420</p>
<p>ENTRADAS FRÍAS</p>
<p>TOSTADAS DE MARLÍ (orden de tres) <br/>
  Marlín ahumado (120 grs) en escabeche estilo Sinaloa, mayonesa al chipotle y aguacate...$135 </p>
<p>AGUACHILE DE CAMARÓN<br/>
  Camarón (150 grs) cocido al limón acompañado de pepino, cebolla morada, aguacate, <br/>
  rabano sandia, sal de mar, pimienta negra y chile chiltepín...$175 </p>
<p>VUELVE A LA VIDA<br/>
  Coctel de camarón, pulpo, calamar, jaiba y pescado (180 grs) en una ligera salsa de tomate, <br/>
  jugo de limón, salsa bruja, jitomate, cebolla blanca, cilantro y aguacate...$185 </p>
<p>PULPO ENAMORADO<br/>
  Pulpo (120 grs), jitomate, cebolla, chile serrano, cilantro, mayonesa y aguacate...$165 </p>
<p>TIRADITO DE HIRAMASA<br/>
  Jurel Hiramasa de Baja California (120 grs) en salsa de chile cuaresmeño, calamar, apio, <br/>
  cebolla y ajo con tado con un toque de sal negra de Hawái...$195 </p>
<p>POKÉ DE ATÚN<br/>
  Atún (120 grs), soya, aceite de ajonjolí, jengibre, limón, cebollín, ajonjolí tostado, ajonjolí negro, polvo de chile costeño amarillo y aguacate...$165</p>
<p>ENSALADA</p>
<p>ENSALADA DE BETABE<br/>
  Betabel, queso azul, arúgula, vinagre balsámico, aceite de albahaca, nueces caramelizadas con un toque de sal azul de Iran.......$165 </p>
<p>ENSALADA DE PULPO <br/>
  Pulpo a la parrilla (120 grs), arúgula, lechugas mixtas, queso de cabra, aceitunas, aguacate y jitomate con aderezo de vinagre balsámico y mostaza Dijon...$175 </p>
<p>ENSALADA DE ATÚN <br/>
  Atún sellado (150 grs), lechugas mixtas, arúgula, zanahoria, pimientos, y cacahuates garapiñados con vinagreta de mandarina...$185</p>
<p>ENTRADAS CALIENTE</p>
<p>ESQUITES CON CAMARÓN<br/>
  Camarón (90 grs), mayonesa, epazote, queso Cotija, chile piquín y un toque de limón...$165 </p>
<p>MEJILLONES<br/>
  Mejillones de Baja California (200 grs), curry, leche de coco, lemongrass, ajo, cilantro, limón y jengibre acompañados de papas fritas con ajo fresco y perejil...$185 </p>
<p>PULPITO A LA PARRILLA<br/>
  Pulpo a las brasas (140 grs) sobre una mezcla de papitas y pimientos rojos, aceite de oliva, ajo y perejil acompañado de ensalada de arúgula... $175 </p>
<p>TACOS DEL PACIFIC (orden de tres)...$165 <br/>
  Selección de los mejores tacos de las costas del pacifico. <br/>
  * Taco de Marlín ahumado (35 grs) servido en tortilla de maíz con cebolla y cilantro. <br/>
  * Taco de Camarón (45 grs) camarones al ajillo servidos en tortilla de harina, ajo, chile <br/>
  guajillo, frijoles refritos, mayonesa al chipotle y aguacate.<br/>
  * Taco de Pescado (40 grs) estilo Ensenada, filete de pescado rebosado servido en tortilla <br/>
  de maíz, col en vinagre, jitomate, cebolla, chile jalapeño, salsa verde con aguacate y aderezo de mayonesa. </p>
<p>PANUCHOS CON CAMARÓ (orden de tres) <br/>
  Camarones (120 grs) en adobo de achiote y chile guajillo servidos sobre una tortilla maíz, <br/>
  frijoles refritos negros, lechuga, cebolla morada, jitomate y aguacate acompañados <br/>
  con una salsa de chile habanero...$155 </p>
<p>CHICHARRÓN DE CALAMAR<br/>
  Calamares fritos (200 grs), salsa tártara y salsa criolla...$185</p>
<p>SOPA</p>
<p>FIDEO SECO CON CAMARONES<br/>
  Fideo en salsa de jitomates rostizados y chile chipotle, camarones (90 grs), crema de rancho, aguacate y queso Cotija .....$145 </p>
<p>CHILPACHOLE DE JAIBA<br/>
  Caldo de jaiba, pulpa de jaiba (100 grs) y chiles rojos acompañado de papa y zanahoria ...$155 </p>
<p>SOPA VERDE DE MARISCOS<br/>
  Caldo de pescado en una base de chile poblano, cilantro y perejil servido con camarón, pulpo, pescado y mejillones (180 grs) acompañado de papa y zanahoria...$165</p>
<p>PLATOS FUERTE</p>
<p>ARROZ CON MARISCOS<br/>
  Nuestra paella latinoamericana.<br/>
  Arroz al wok con camarón, pulpo, calamar y pescado (200 grs), pimiento morrón y chícharos sazonado con chile guajillo acompañado de salsa criolla...$225 </p>
<p>ATÚN EN SALSA DE HIGOS<br/>
  Filete de atún (200 grs) con pimienta negra en una reducción de higos al oporto acompañado de puré de papa...$265 </p>
<p>PESCADO AL TAMARINDO<br/>
  Pesca del día (200 grs) en salsa de tamarindo y chile guajillo con jitomate, cebolla morada y chícharos sobre un cremoso risotto...$285 </p>
<p>TRUCHA CON MISO<br/>
  Filete de trucha salmonada (200 grs) en salsa de miso, teriyaki y jengibre acompañado de puré de papa, zanahoria y bok choy...$265 </p>
<p>PESCADO EN SALSA DE FRIJOL<br/>
  Pesca del día (200 grs) en salsa de frijol negro, hoja de aguacate, crema de rancho, queso de Ocosingo, chorizo, cebolla cambray y chile serrano asado...$265 </p>
<p>PASTA CON MARISCOS<br/>
  Spaghetti con camarón, jaiba, pulpo y calamar (200 grs) en una cremosa salsa de chile manzano y chile guajillo...$225 </p>
<p>PESCADO A LA VERACRUZANA<br/>
  Pesca del día (200 grs) en salsa de tomate, cebolla, pimiento morrón, aceitunas, alcaparras, chiles güeros en vinagre, perejil y ajo acompañado de arroz blanco y plátanos fritos...$285 </p>
<p>LOMO SALTADO<br/>
  Tiras de filete de res (200 grs), cebolla morada, jitomate, chile manzano, ajo y cilantro salteados con salsa de soya, acompañado de arroz blanco y papas fritas...$295 </p>
<p>TRUCHA EN SALSA DE MIEL<br/>
  Filete de trucha salmonada (200 grs) en salsa de miel y ajonjolí acompañado de un cremoso puré de colifor...$265 </p>
<p>PESCADO A LA TALLA<br/>
  Pesca del día (200 grs) en adobo de chile guajillo, chile costeño, chile pasilla, ajo y mayonesa acompañado de frijoles negros, arroz blanco, plátanos fritos y salsa de cebolla morada, chile habanero, limón y cilantro...$285 </p>
<p>PLANCHA DEL MAR<br/>
  Camarón, pulpo, calamar y pescado (350 grs) al ajillo servidos en una plancha caliente acompañados con hongos portobello y cebolla cambray...$325 </p>
<p>HAMBURGUESA DE PESCADO<br/>
  Filete de pescado (200 grs) rebosado, mojo de ajo, lechuga, jitomate, pepinillos, salsa tártara, cebolla morada, chile cuaresmeño y cilantro acompañada de camote a la francesa...$245 </p>
<p><em>En Agua y Sal tenemos el compromiso de servir los mejores pescados y mariscos, respetando las vedas, apoyando siempre la práctica de la pesca sostenible y la conservación del océano.</em></p>
<p>Todos nuestros precios son en moneda nacional y ya incluyen IVA</p>