<li class="active"><a href="#">Tour</a></li>
<li><a href="{{url('nosotros')}}">Nosotros</a></li>
<li><a href="{{url('menu')}}">Nuestro Menú</a></li>
<li><a href="{{url('contactenos')}}">Contáctenos</a></li>